/* styles/styles.module.css */
.container {
    padding: 40px;
    background-color: #000000;
    min-height: 100vh;
    color: #ffffff;
  }
  
  .projectsheader {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .projectsheader h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .projectsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .projectcard {
    width: 100%;
    height: 80vh;
    background-color: #222222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  }
  
  .projectcard:hover {
    background-color: hsl(160, 8%, 16%); /* Change color on hover */
    transform: translateY(-5px); /* Lift the card slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
  }
  
  .projectcard h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .projectcard p {
    flex-grow: 1;
    /* font-size: 0px; */
  }
  
  .projectcard .icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .projectcard .icons svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #00ff00;
  }
  
  .projectcard .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .projectcard .tag {
    background-color: #333333;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
.projectimage{
    height: 1px;
}