/* styles/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
  color: white;
  padding: 0 2rem;
  font-size: large;

}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.textSection {
  flex: 1;
  padding: 2rem;
}

.textSection p {
  margin: 0;
}

.textSection h1 {
  font-size: 3rem;
  margin: 0;
}

.textSection h2 {
  color: #00ff00;
  margin: 0.5rem 0;
}

.contactButton {
  background-color: #00ff00;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}


.wave {
  animation: wave-animation 2s infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg);
  }

  10% {
    transform: rotate(14.0deg);
  }

  20% {
    transform: rotate(-8.0deg);
  }

  30% {
    transform: rotate(14.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50% {
    transform: rotate(10.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  100% {
    transform: rotate(0.0deg);
  }
}

.imageSection {
  width: 500px;
  height: 500px;
  animation: slide-in 1s forwards;
  opacity: 0;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
